@import "../../styles/colors";
@import "../../styles/mixins";


.container{
    text-align: center;
    font-size: 1.2em;
    line-height: 50px;
    table{
        justify-content: flex-end;
        width: 500px;
        @include respond-below(sm){
            width: 100vw;
        }
        tr{
            text-align: left;
            .input{
                text-align: right;
                select{
                    height: 35px;
                    width: 210px;
                    font-size: 1em;
                    font-family: 'Poppins', sans-serif;
                    border-radius: 5px;
                    color: white;
                    background-color: black;
                }
                optgroup{
                        font-family: 'Poppins', sans-serif;
                        font-size: 1em;
                    }
                
            }
        }
        
    }
}
