@import "../../styles/colors";
@import "../../styles/mixins";

.container {
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  line-height: 50px;
  table {
    justify-content: flex-end;
    width: 500px;
    @include respond-below(sm) {
      width: 100%;
    }
    tr {
      text-align: left;
      .input {
        text-align: right;
        select {
          height: 35px;
          width: 150px;
          font-size: 1em;
          font-family: "Poppins", sans-serif;
          border-radius: 5px;
          color: white;
          background-color: black;
        }
      }
    }
  }
}
