@import "../../styles/colors";
@import "../../styles/mixins";


.container{
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    line-height: 50px;
    table{
        margin: 0 auto;
        justify-content: flex-end;
        width: 500px;
        @include respond-below(md){
            width: 100%;
            max-width: 500px;
        }
        tr{
            text-align: left;
            .input{
                text-align: right;
                select{
                    height: 35px;
                    width: 150px;
                    font-size: 1em;
                    font-family: 'Poppins', sans-serif;
                    border-radius: 5px;
                    color: white;
                    background-color: black;
                }
                
                
            }
        }
        
    }
}
