@import './colors';
@import './mixins';

.container {
    margin: 0 8vw;
    @include respond-below(sm){
      margin: 0 2vw;
    }  
    hr{
      width: 100%;
      margin-bottom: 20px;
    }
  .main{
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}