@import './colors';
@import './mixins';

.container {
    position: relative;
    margin: 0 8vw;
    padding: 0 0.5rem;
    @include respond-below(sm){
        margin: 0 2vw;
    }
  .main{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    @include respond-below(sm){
      flex-direction: column;
    }
  }
}